dj-database-url==0.3.0
django-cors-headers==1.1.0
django-extensions==1.5.5
gevent==1.1b1
gnureadline==6.3.3
greenlet==0.4.7
gunicorn==19.3.0
ipython==3.2.1
psycogreen==1.0
psycopg2==2.6.1
six==1.9.0
git+https://github.com/SmallsLIVE/smallslive-metrics-djangoapp.git@9ee33cf3208daaa26d1917a046b8850afeccb193#egg=smallslive_metrics_app-0.1.16
whitenoise==2.0.2