Django>=1.8,<1.9
dj-database-url==0.3.0
django-cacheops==2.4.1
django-cors-headers==1.1.0
django-extensions==1.5.5
gevent==1.1b1
gnureadline==6.3.3
greenlet==0.4.9
gunicorn==19.3.0
ipython==3.2.1
newrelic==2.54.0.41
psycogreen==1.0
psycopg2==2.7
raven==5.7.2
six==1.9.0
git+https://github.com/SmallsLIVE/smallslive-metrics-djangoapp.git@ed4fc57c31b8f457e513545beea1500f943e43a4
whitenoise==2.0.4
