django-extensions==1.5.5
gevent==1.1b1
gnureadline==6.3.3
greenlet==0.4.7
gunicorn==19.3.0
ipython==3.2.1
psycogreen==1.0
psycopg2==2.6.1
six==1.9.0
git+https://github.com/SmallsLIVE/smallslive-metrics-djangoapp.git@71351f2f173051e0fbcc64fa7f66ca7accce4191#egg=smallslive_metrics_app-0.1.11
